<app-spinner *ngIf="!museum && loading"></app-spinner>

<div *ngIf="museum">
    <div [style.background-image]="'url(' + museum.imgUrl + ')'" class="jumbotron museum-cover">
        <div class="col-lg-4 col-md-6 col-sm-12 rounded museum-cover-box p-3">
            <h1 class="text-white">{{ museum.name }}</h1>
            <a class="btn btn-outline-light" [href]="['https://' + museum.website]">Naar website</a>
        </div>
    </div>
    <div class="row no-gutters d-flex border-bottom border-dark mx-auto mt-4 pb-2">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <h2>Wat is het {{ museum.name }}?</h2>
        </div>
        <div *ngIf="loggedInUser$ | async as user" class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-lg-end">
            <div *ngIf="user.role === 'admin' || user.role === 'staff'">
                <a [routerLink]="['/museums', museum?._id, 'edit']" class="btn btn-dark ml-auto">Wijzig museum</a>
                <button (click)="deleteMuseum()" class="btn btn-dark ml-1">
          <span
            *ngIf="deleting"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Verwijder museum
          <span class="sr-only">Deleting...</span>
        </button>
            </div>
        </div>
    </div>
    <div class="container p-0 mt-2">
        <div class="row m-auto">
            <div class="col-lg-9 p-0 pr-lg-2">
                <p>{{ museum.description }}</p>
            </div>
            <div class="col-lg-3 rounded bg-dark text-white">
                <div class="px-2 py-3">
                    <div class="d-flex mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
              />
            </svg>
                        <p class="h5 ml-2 mt-1">Informatie</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-4 mb-2">
                            <div class="d-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt mt-2" viewBox="0 0 16 16">
                  <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                  />
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                                <div class="ml-2">
                                    <p class="mb-0">{{ museum.street + ' ' + museum.streetNumber }}</p>
                                    <p class="mb-0">{{ museum.postalCode }}, {{ museum.city }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-4 mb-2">
                            <div class="d-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                  <path
                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                  />
                </svg>
                                <p class="ml-2 mb-0">{{ museum.phoneNumber }}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-4">
                            <div class="d-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                  <path
                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
                  />
                  <path
                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
                  />
                </svg>
                                <a [href]="museum.website" class="ml-1 mb-0">{{ museum.website }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters d-flex border-bottom border-dark mx-auto mt-4 pb-2 mb-2">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <h3>Tentoonstellingen</h3>
        </div>
        <div *ngIf="loggedInUser$ | async as user" class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-lg-end">
            <div *ngIf="user.role === 'admin' || user.role === 'staff'">
                <a [routerLink]="['/museums', museum._id, 'exhibitions', 'new']" class="btn btn-dark ml-auto">Voeg tentoonstelling toe</a
        >
      </div>
    </div>
  </div>
  <div class="mb-3">
    <app-spinner *ngIf="!exhibitions && exhLoading"></app-spinner>

    <div *ngIf="exhibitions && exhibitions?.length == 0 && !loading">
      <p class="h5 text-center">Geen tentoonstellingen gevonden voor {{ museum.name }}</p>
    </div>

    <div class="container-fluid p-0" *ngIf="exhibitions?.length != 0">
      <div class="row">
        <div
          *ngFor="let exhibition of exhibitions"
          class="col-lg-3 col-md-4 col-12 mt-3 d-flex align-items-stretch"
        >
          <div class="col-12 p-0 card shadow" style="width: 18rem">
            <img [src]="exhibition.imgUrl" class="card-img-top" alt="Tentoonstelling foto" />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mb-0">{{ exhibition.name }}</h5>
              <small class="card-text mb-2"> Thema: {{ exhibition.theme }} </small>
              <a
                [routerLink]="['/museums', museum._id, 'exhibitions', exhibition._id]"
                class="btn btn-dark mt-auto"
                >Meer details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!museum && !loading">
  <h2>Museum</h2>
  <hr class="border-dark mb-4" />
  <p class="h4 text-center">Museum op id {{ museumId }} kon niet gevonden worden.</p>
</div>