<div class="d-flex mb-4 border-bottom border-dark">
    <h2>Museums</h2>
    <div *ngIf="loggedInUser$ | async as user" class="ml-auto">
        <a *ngIf="user.role === 'admin' || user.role === 'staff'" [routerLink]="['/museums', 'new']" class="btn btn-dark">Voeg museum toe</a>
    </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div class="d-flex justify-content-center" *ngIf="museums && museums?.length == 0 && !loading">
    <p class="h4">Geen museums gevonden.</p>
</div>

<div class="container-fluid p-0" *ngIf="museums?.length != 0">
    <div class="row">
        <div *ngFor="let museum of museums" class="col-lg-3 col-md-4 col-sm-12 mt-3 d-flex align-items-stretch">
            <div class="card shadow" style="width: 18rem">
                <img [src]="museum.imgUrl" class="card-img-top" alt="Museum foto" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ museum.name }}</h5>
                    <small class="card-text mb-2">
                        {{ museum.street + ' ' + museum.streetNumber }}, {{ museum.postalCode + ' ' + museum.city }}
                    </small>
                    <a [routerLink]="['/museums', museum._id]" class="btn btn-dark mt-auto">Meer details</a>
                </div>
            </div>
        </div>
    </div>
</div>