/* You can add global styles to this file, and also import other style files */

.valid {
    border: solid 2px #008000;
}

.invalid {
    border: solid 2px #ff0000;
}

.museum-img-box {
    position: relative;
}

.museum-title-box {
    position: absolute;
    top: 10%;
    left: 5%;
}

.museum-cover {
    background-size: cover;
    background-position: center;
}

.museum-cover-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.about-img {
    height: auto;
}

svg {
    display: block;
    margin: auto 0;
}

.alert-popup {
    position: fixed;
    top: 90%;
    z-index: 2000;
}

@media only screen and (max-width: 768px) {
    .item {
        margin: 2rem 0;
    }
    .item-small {
        margin-top: 0.5rem;
    }
    .museum-title-box {
        padding: 0.25rem;
    }
    .card-img-top {
        height: 30vw;
    }
}