<div class="row d-flex">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <h2>Mijn account</h2>
    </div>
</div>
<hr class="border-dark mb-4 ">



<div class="row no-gutters mx-auto" *ngIf="loggedInUser$ | async as user">
    <div class="col-lg-7 col-md-6 col-sm-12 order-lg-1 order-second mt-3 mt-md-0 mt-lg-0">
        <router-outlet></router-outlet>
    </div>

    <div class="col-lg-5 col-md-6 col-sm-12 order-lg-2 order-md-2 order-first p-3 d-flex flex-column shadow-sm border border-dark mb-auto">
        <a routerLink="details" class="btn btn-dark">Details</a>
        <a routerLink="friends" class="btn btn-dark mt-1">Vrienden</a>
        <a routerLink="tickets" class="btn btn-dark mt-1">Mijn tickets</a>
        <a routerLink="requests" class="btn btn-dark mt-1">Vriendschap verzoeken</a>
    </div>
</div>